In [46]:
import pandas as pd
import numpy as np
import seaborn as sea
import matplotlib.pyplot as plt
%matplotlib inline
import math
pokemon_dataset=pd.read_csv("Pokemon_database.csv")
pokemon_dataset.head(9)

,Pokemon Id,Pokedex Number,Pokemon Name,Classification,Alternate Form Name,Original Pokemon ID,Legendary Type,Pokemon Height,Pokemon Weight,Primary Type,...,EV Yield Total,Catch Rate,Experience Growth,Experience Growth Total,Experience Yield,Primary Egg Group,Secondary Egg Group,Egg Cycle Count,Pre-Evolution Pokemon Id,Evolution Details
0,1,1,"""Bulbasaur""","""Seed Pokemon""",NaN,NaN,NaN,0.7,6.9,"""Grass""",...,1,45,"""Medium Slow""",1059860,64,"""Monster""","""Grass""",20,NaN,NaN
1,2,2,"""Ivysaur""","""Seed Pokemon""",NaN,NaN,NaN,1.0,13.0,"""Grass""",...,2,45,"""Medium Slow""",1059860,142,"""Monster""","""Grass""",20,1.0,"""Level 16"""
2,3,3,"""Venusaur""","""Seed Pokemon""",NaN,NaN,NaN,2.0,100.0,"""Grass""",...,3,45,"""Medium Slow""",1059860,236,"""Monster""","""Grass""",20,2.0,"""Level 32"""
3,4,3,"""Venusaur""","""Seed Pokemon""","""Mega""",3.0,NaN,2.4,155.5,"""Grass""",...,3,45,"""Medium Slow""",1059860,281,"""Monster""","""Grass""",20,NaN,NaN
4,5,4,"""Charmander""","""Lizard Pokemon""",NaN,NaN,NaN,0.6,8.5,"""Fire""",...,1,45,"""Medium Slow""",1059860,62,"""Monster""","""Dragon""",20,NaN,NaN
5,6,5,"""Charmeleon""","""Flame Pokemon""",NaN,NaN,NaN,1.1,19.0,"""Fire""",...,2,45,"""Medium Slow""",1059860,142,"""Monster""","""Dragon""",20,5.0,"""Level 16"""
6,7,6,"""Charizard""","""Flame Pokemon""",NaN,NaN,NaN,1.7,90.5,"""Fire""",...,3,45,"""Medium Slow""",1059860,240,"""Monster""","""Dragon""",20,6.0,"""Level 32"""
7,8,6,"""Charizard""","""Flame Pokemon""","""Mega X""",7.0,NaN,1.7,110.5,"""Fire""",...,3,45,"""Medium Slow""",1059860,285,"""Monster""","""Dragon""",20,NaN,NaN
8,9,6,"""Charizard""","""Flame Pokemon""","""Mega Y""",7.0,NaN,1.7,100.5,"""Fire""",...,3,45,"""Medium Slow""",1059860,285,"""Monster""","""Dragon""",20,NaN,NaN

In [47]:
print("No. of pokemon in original dataset:"+str(len(pokemon_dataset.index)))

No. of pokemon in original dataset:1076

In [48]:
pokemon_dataset.drop(['Pokemon Id','Pokemon Name','Pokedex Number','Alternate Form Name','Original Pokemon ID'],axis=1,inplace=True)

In [49]:
pokemon_dataset.drop(['Secondary Type','Primary Ability','Primary Ability Description','Secondary Ability'],axis=1,inplace=True)

In [50]:
pokemon_dataset.drop(['Hidden Ability','Hidden Ability Description','Special Event Ability','Special Event Ability Description','Secondary Ability Description'],axis=1,inplace=True)

In [51]:
pokemon_dataset.drop(['Base Happiness','Game(s) of Origin','Region of Origin','Health Stat','Attack Stat','Defense Stat'],axis=1,inplace=True)

In [52]:
pokemon_dataset.drop(['Special Attack EV','Special Defense EV','Speed EV','Catch Rate'],axis=1,inplace=True)

In [53]:
pokemon_dataset.drop(['Legendary Type','Male Ratio','Female Ratio','Special Attack Stat','Special Defense Stat'],axis=1,inplace=True)

In [54]:
pokemon_dataset.drop(['Experience Growth','Experience Growth Total','Primary Egg Group','Secondary Egg Group'],axis=1,inplace=True)

In [55]:
pokemon_dataset.drop(['Egg Cycle Count','Pre-Evolution Pokemon Id','Evolution Details'],axis=1,inplace=True)

In [56]:
pokemon_dataset.drop(['Primary Type','Base Stat Total','Health EV','Attack EV','Defense EV'],axis=1,inplace=True)

In [57]:
pokemon_dataset.head()

,Classification,Pokemon Height,Pokemon Weight,Speed Stat,EV Yield Total,Experience Yield
0,"""Seed Pokemon""",0.7,6.9,45,1,64
1,"""Seed Pokemon""",1.0,13.0,60,2,142
2,"""Seed Pokemon""",2.0,100.0,80,3,236
3,"""Seed Pokemon""",2.4,155.5,80,3,281
4,"""Lizard Pokemon""",0.6,8.5,65,1,62

In [58]:
pokemon_dataset.isnull().sum()

Classification      0
Pokemon Height      0
Pokemon Weight      0
Speed Stat          0
EV Yield Total      0
Experience Yield    0
dtype: int64

In [59]:
from pandas import DataFrame
df=DataFrame(pokemon_dataset,columns=['Pokemon Height','Pokemon Weight','Speed Stat','EV Yield Total','Experience Yield'])
df.head(8)

,Pokemon Height,Pokemon Weight,Speed Stat,EV Yield Total,Experience Yield
0,0.7,6.9,45,1,64
1,1.0,13.0,60,2,142
2,2.0,100.0,80,3,236
3,2.4,155.5,80,3,281
4,0.6,8.5,65,1,62
5,1.1,19.0,80,2,142
6,1.7,90.5,100,3,240
7,1.7,110.5,100,3,285

In [60]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(
df,pokemon_dataset['Classification'],random_state=0)
print("X_train shape: {}".format(X_train.shape))
print("y_train shape: {}".format(y_train.shape))
print("X_test shape: {}".format(X_test.shape))
print("y_test shape: {}".format(y_test.shape))

X_train shape: (807, 5)
y_train shape: (807,)
X_test shape: (269, 5)
y_test shape: (269,)

In [61]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors=1)

In [62]:
knn.fit(X_train,y_train)

KNeighborsClassifier(n_neighbors=1)

In [63]:
#for testing the model
X_new = np.array([[1.2,19.1,81,2,143]])

In [64]:
prediction = knn.predict(X_new)
print("Prediction:{}".format(prediction))

Prediction:['"Volcano Pokemon"']

In [65]:
print("Test set score:{}".format(knn.score(X_test,y_test)*100))

Test set score:67.063197026022305